 .OCCDECLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        &--logo {
            animation: fadeinLoader .5s;
            margin-bottom: 20px;
            width: 200px;
        }

        &--dots {
            animation: fadeinLoader .5s;
            position: relative;
            margin-top: 10px;
            width:100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        &--dot {
            position: relative;
            top: 0;
            width: 10px;
            height: 10px;
            background-color: #29abe5;
            border-radius: 50%;
 
            &.dot-1 {
                animation: bounce infinite 1s linear;
            }

            &.dot-2 {
                animation: bounce infinite 1s linear;
                animation-delay: .1s;
            }
                        
            &.dot-3 {
                animation: bounce infinite 1s linear;
                animation-delay: .2s;
            }
        }
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }
     
    25% {
        top: 0;
    }
     
    50% {
        top: -10px;
    }

    75% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@keyframes fadeinLoader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
